<h1> Page d'aide</h1>
<p>
  Voici une page d'aide que je viens de créer suite à la demande de plusieurs utilisateurs
  voici des lien qui pour vous rediriger :
  <br>
  <a href="http://localhost:3000/pages/contact" > retour vers Contacts </a>
  <br>
  <a href="http://localhost:3000/pages/home" > retour vers l'acceuil</a>
  <br>
  <a href="http://localhost:3000/pages/about"> retour vers à propos </a>
</p>